{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">

    </div>

    <!-- Banner Ends Here -->



    <section class="blog-posts grid-system">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="all-blog-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src="{{ article.image.url }}" alt="">
                                    </div>
                                    <div class="down-content">
                                        <span>{{ article.categories.first }}</span>
                                        <a href="post-details.html"><h4>{{ article.title }}</h4></a>
                                        <ul class="post-info">
                                            <li><a href="#">{{ article.author.username }}</a></li>
                                            <li><a href="#">{{ article.created }}</a></li>
                                            <li><a href="#">10 Comments</a></li>
                                        </ul>
                                        <p>{{ article.body }}</p>
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="post-tags">
                                                        <li><i class="fa fa-tags"></i></li>
                                                        {% for category in article.categories.all %}
                                                            <li><a href="#">{{ category.title }}</a>,</li>
                                                        {% endfor %}
                                                    </ul>
                                                </div>
                                                <div class="col-6">
                                                    <ul class="post-share">
                                                        <li><i class="fa fa-share-alt"></i></li>
                                                        <li><a href="#">Facebook</a>,</li>
                                                        <li><a href="#"> Twitter</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item comments">
                                    <div class="sidebar-heading">
                                        <h2>{{ article.comments.count }} comments</h2>
                                    </div>
                                    <div class="content">
                                        <ul class="row">

                                            {% for comment in article.comments.all %}
                                                {% if comment.parent == null %}
                                                    <li class="col-12">
                                                        <div class="author-thumb">
                                                            {% if comment.user.profile.image %}
                                                                <img src="{{ comment.user.profile.image.url }}"
                                                                     alt="{{ comment.user.get_fullname_or_username }}">
                                                            {% else %}
                                                                <img src="{% static 'images/default.png' %}"
                                                                     alt="{{ comment.user.get_fullname_or_username }}">
                                                            {% endif %}
                                                        </div>
                                                        <div class="right-content">
                                                            <h4>{{ comment.user.get_fullname_or_username }}<span>{{ comment.created }}</span>
                                                            </h4>
                                                            <p>{{ comment.body }}</p>
                                                            <a class="btn btn-primary"
                                                                    onclick="reply({{ comment.id }}, '{{ comment.user.get_fullname_or_username }}')" href="#comment">Reply
                                                            </a>
                                                        </div>

                                                    </li>
                                                {% endif %}

                                                {% for comment in comment.replies.all %}
                                                    <li class="replied">
                                                        <div class="author-thumb">
                                                            {% if comment.user.profile.image %}
                                                                <img src="{{ comment.user.profile.image.url }}"
                                                                     alt="{{ comment.user.get_fullname_or_username }}">
                                                            {% else %}
                                                                <img src="{% static 'images/default.png' %}"
                                                                     alt="{{ comment.user.get_fullname_or_username }}">
                                                            {% endif %}
                                                        </div>
                                                        <div class="right-content">
                                                            <h4>{{ comment.user.get_fullname_or_username }}<span>{{ comment.created }}</span>
                                                            </h4>
                                                            <p>{{ comment.body }}</p>
                                                        </div>
                                                    </li>
                                                {% endfor %}



                                            {% endfor %}

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12" id="comment">
                                <div class="sidebar-item submit-comment">
                                    <div class="sidebar-heading">
                                        <h2>Your comment</h2>
                                    </div>
                                    <div class="content">
                                        {% if request.user.is_authenticated %}
                                            <form id="comment" action="" method="post">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <input type="hidden" id="parent_id" name="parent_id" value="">
                                                    <div class="col-lg-12">
                                                         <a style="color: white;display: none;"  class="btn btn-primary" id="cancel_reply" onclick="cancel_reply()">Cancel Reply</a>
                                                        <br>
                                                        <br>
                                                        <fieldset>
                                                        <textarea name="body" id="body" rows="6"
                                                                  placeholder="Type your comment"
                                                                  required=""></textarea>
                                                        </fieldset>
                                                    </div>
                                                    <div class="col-lg-12">
                                                        <fieldset>
                                                            <button type="submit" id="form-submit" class="main-button">
                                                                Submit
                                                            </button>

                                                        </fieldset>

                                                    </div>
                                                </div>
                                            </form>
                                        {% else %}
                                            <p class="alert-info p-2"><a href="{% url 'account:login' %}">Login</a> for
                                                sending comment</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'includes/sidebar.html' %}
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}

    <script>
        document.documentElement.style.scrollBehavior = "smooth";

        function reply(parent_id, user_name){
            $('#parent_id').val(parent_id);
            $('#body').attr('placeholder', "Reply to " + user_name);
            {#$('#cancel_reply').show();#}
            $('#cancel_reply').show();
        }

        function cancel_reply(){
            $('#parent_id').val('');
            $('#body').attr('placeholder', "Type your comment");
            $('#cancel_reply').hide();
        }

    </script>

{% endblock %}



